.calculator{
    text-align: center;
    margin: 50px auto;
    padding: 40px;
    width: 360px;
    height: 430px;
    background-color: #557C55;
    border-radius: 30px;
}

.calculator-screen{
    width: 100%;
    height: 90px;
    background-color: #fff;
    color: #252525;
    text-align: right;
    font-size: 40px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: monospace;
}

.calculator-keys{
    width: 100%;
}

.row{
    display: flex;
}

button{
    height: 50px;
    background-color: #92b686;
    border: 2px solid #243D25;
    font-size: 23px;
    color: #fff;
    width: 25%;
    outline: none;
    border-radius: 20px;
    margin: 8px;
}

.zero-btn{
    margin-top: -57px;
    width: 45%;
}

.decimal{
    margin-top: -57px;
    width: 21%;
    font-family: fantasy;
}
.equal-sign{
    height: 113px;
}

.operator, .equal-sign, .percentage{
    background-color: #65C18C;
}

.all-clear, .delete{
    background-color: #FF6464;
}

button:hover{
    background-color: #F2FFE9;
    color: #557C55;
}

.operator:hover, .equal-sign:hover, .percentage:hover{
    background-color: #C0EDA6;
    color: #557C55;
}

.all-clear:hover, .delete:hover{
    background-color: #FC997C;
    color: #541212;
}